Mini Assist.json
{
  "name": "Mini Assist",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        -48
      ],
      "id": "6e82f00e-ded7-430f-9e6b-26c96d7bb5d8",
      "name": "Watching Inbox👁️",
      "credentials": {
        "gmailOAuth2": {
          "id": "HlfzdooRQFbkS3Fx",
          "name": "Test Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -112,
        -48
      ],
      "id": "d786c7fa-5247-44b4-89c8-faeef17a4d0f",
      "name": "Getting details 💡",
      "webhookId": "056b58b8-1c9f-4194-932f-3a5a75730899",
      "credentials": {
        "gmailOAuth2": {
          "id": "HlfzdooRQFbkS3Fx",
          "name": "Test Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {
          "systemMessage": "=You are a personal assistant that categorizes and repsonds to emails based on availability from a calendar tool and also goals database to ensure the emails are being properly responded to and categorized.\n\nHere are the tools you have access to:\n\n- "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        96,
        -48
      ],
      "id": "480676cc-4625-4dae-b9e3-c3162d7cd52d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        128
      ],
      "id": "cdac657f-b860-46fa-9657-a22d7f0b9e12",
      "name": "o3-mini",
      "credentials": {
        "openAiApi": {
          "id": "y19aiHnxB1MlR1zl",
          "name": "OpenAi Connection Agent"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        128
      ],
      "id": "991f8d7e-e1fb-494a-a159-cbc41d0f5896",
      "name": "When chat message received",
      "webhookId": "dccfdff1-c129-484a-81c2-5d207e09fbb4"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get a goal record from Airtable database by searching records.",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appHQCsM44I435zbg",
          "mode": "list",
          "cachedResultName": "Goals",
          "cachedResultUrl": "https://airtable.com/appHQCsM44I435zbg"
        },
        "table": {
          "__rl": true,
          "value": "tblHGoBH3AvNKAM6o",
          "mode": "list",
          "cachedResultName": "Goal",
          "cachedResultUrl": "https://airtable.com/appHQCsM44I435zbg/tblHGoBH3AvNKAM6o"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        240,
        144
      ],
      "id": "58970ac9-f13c-49f2-9357-ec510fc03b01",
      "name": "Goals_database",
      "credentials": {
        "airtableTokenApi": {
          "id": "7AI91TD4SRqyCCyA",
          "name": "Goals db"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Searches events in Google Calendar.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        416,
        128
      ],
      "id": "0b50ed08-db65-4cd0-be50-22aa486a52f5",
      "name": "search_events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VuN6RO9CDin1Sx1m",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Watching Inbox👁️": {
      "main": [
        [
          {
            "node": "Getting details 💡",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting details 💡": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "o3-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Goals_database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00ba0dda-591c-43bf-bbe8-1b75d8c89d7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b12195067235351c1ee76c4fbf27fdfb2cebcc169a0d0fc6cb767999437c2724"
  },
  "id": "bgTlET64AhoffFww",
  "tags": []
}