Telegram Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -544,
        -96
      ],
      "id": "f2bbf45d-03bd-4a19-8c25-ca62f3b1fdf8",
      "name": "CommunicationTelegramBot",
      "webhookId": "2eed79a1-9e92-4b30-9984-e83c60cfd96f",
      "credentials": {
        "telegramApi": {
          "id": "Ou0CVDxOLCzm86AE",
          "name": "TelegramConnection"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cf7f75d-60b5-48c3-98a2-4258ca8e7158",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        16
      ],
      "id": "23bce157-ea0d-477a-8968-99f8384a210f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f5b5b55-c49b-4b69-a5b4-a2bccbe6fd01",
              "leftValue": "={{ $json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        -96
      ],
      "id": "cd786a90-96c9-4f92-b35d-aea4d81e05f3",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        -160
      ],
      "id": "86916423-c2ed-4b95-a3a3-fe727e64af19",
      "name": "Get a file",
      "webhookId": "ceaa43f8-e97c-45db-90b1-8adfc91aa531",
      "credentials": {
        "telegramApi": {
          "id": "Ou0CVDxOLCzm86AE",
          "name": "TelegramConnection"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "CommunicationTelegramBot": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "94eee1c4-4669-4e75-8610-4229b312592f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b12195067235351c1ee76c4fbf27fdfb2cebcc169a0d0fc6cb767999437c2724"
  },
  "id": "kRHzsKl1KvQamnGz",
  "tags": [
    {
      "createdAt": "2025-08-19T13:56:35.916Z",
      "updatedAt": "2025-08-19T13:56:35.916Z",
      "id": "YVHRB8e4YKToxYYb",
      "name": "telegram"
    }
  ]
}